<div *ngIf="isMainPage(); else mainLayout">
  <router-outlet></router-outlet>
</div>
<ng-template #mainLayout>
  <nz-layout class="app-layout">
    <nz-layout>

      <nz-content>
        <div class="horizontal-wrapper" [class.sidebar-open]="!isCollapsed">

          <div class="custom-sidebar" [class.active]="!isCollapsed">
            <div class="sidebar-header">

              <div class="logo-container" (click)="toggleSidebar()">
                <img src="assets/logo-blanco.png" alt="Logo" class="logo-img" />
              </div>

              <span class="header-trigger-side" *ngIf="!isCollapsed" (click)="toggleSidebar()">
                <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></nz-icon>
              </span>
            </div>

            <ul class="sidebar-menu">

              <li routerLink="/inicio" routerLinkActive="active">
                <i class="fas fa-house"></i>
                <span class="menu-text" [class.hidden]="isCollapsed">Inicio</span>
              </li>

              <li routerLink="/metas" routerLinkActive="active">
                <i class="fas fa-bullseye"></i>
                <span class="menu-text" [class.hidden]="isCollapsed">Metas</span>
              </li>

              <li routerLink="/tareas" routerLinkActive="active">
                <i class="fas fa-list-check"></i>
                <span class="menu-text" [class.hidden]="isCollapsed">Tareas</span>
              </li>

              <li routerLink="/finanzas" routerLinkActive="active">
                <i class="fas fa-wallet"></i>
                <span class="menu-text" [class.hidden]="isCollapsed">Finanzas</span>
              </li>

              <li routerLink="/progreso" routerLinkActive="active">
                <i class="fas fa-chart-line"></i>
                <span class="menu-text" [class.hidden]="isCollapsed">Progreso</span>
              </li>

              <li routerLink="/historial" routerLinkActive="active">
                <i class="fas fa-clock-rotate-left"></i>
                <span class="menu-text" [class.hidden]="isCollapsed">Historial</span>
              </li>

              <li routerLink="/perfil" routerLinkActive="active">
                <i class="fas fa-user"></i>
                <span class="menu-text" [class.hidden]="isCollapsed">Perfil</span>
              </li>

              <li routerLink="/perfil/configuracion" routerLinkActive="active">
                <i class="fas fa-gear"></i>
                <span class="menu-text" [class.hidden]="isCollapsed">Configuración</span>
              </li>

              <li class="darkmode-item">
                <i class="fas fa-moon" (click)="isCollapsed && toggleDarkModeFromIcon()"
                  [class.clickable]="isCollapsed"></i>
                <span class="menu-text" [class.hidden]="isCollapsed">Modo oscuro</span>
                <label class="switch" *ngIf="!isCollapsed">
                  <input type="checkbox" [checked]="isDarkMode" (change)="toggleDarkMode($event)">
                  <span class="slider">
                    <i class="fa-solid fa-sun"></i>
                    <i class="fa-solid fa-moon"></i>
                  </span>
                </label>
              </li>

              <li (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
                <span class="menu-text" [class.hidden]="isCollapsed">Salir</span>
              </li>

            </ul>
          </div>

          <div class="content-wrapper">
            <div class="custom-header">
              <div class="header-user-info">
                <div class="user-text">
                  <span class="user-name">Diego David Rutti Aliaga</span>
                  <span class="user-username">@drutti</span>
                </div>
                <img class="user-avatar" src="assets/user.png" alt="User Avatar" />
              </div>
            </div>
            <div class="inner-content">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</ng-template>