<div class="main-container">

  <div class="header">
    <div class="header-content">
      <div class="logo">
        <span class="brand">Cheka</span>
      </div>

      <div class="menu">
        <a href="#">Inicio</a>
        <a href="#">Planes</a>
        <a href="#">Blog</a>
        <a href="#">Contacto</a>
      </div>

      <div class="actions">
        <button class="btn-outline">Ingresar</button>
        <button class="btn-primary">Registrarse</button>
      </div>
    </div>
  </div>

  <div class="hero-banner">
    <div class="slides" [style.transform]="transformValue" [style.width]="images.length * 100 + '%'"
      [style.transform]="'translateX(-' + (currentIndex * (100 / images.length)) + '%)'">
      <img *ngFor="let img of images" [src]="img" class="slide" />
    </div>
    <div class="dots">
      <span *ngFor="let img of images; let i = index" class="dot" [class.active]="i === currentIndex"
        (click)="goToSlide(i)"></span>
    </div>
  </div>

  <div class="services-section">
    <div class="services-inner">
      <div class="section-badge">SERVICIOS</div>
      <div class="services-container">
        <div class="left-column">
          <div class="service-card" *ngFor="let s of services">
            <span class="material-icons service-icon">{{ s.icon }}</span>
            <h3>{{ s.title }}</h3>
            <p>{{ s.text }}</p>
          </div>
        </div>
        <div class="right-column">
          <div class="form-card">
            <h2>Comienza ahora</h2>
            <p>Déjanos tus datos para ayudarte personalmente.</p>
            <form class="mini-form">
              <input type="text" placeholder="Tu nombre" />
              <input type="email" placeholder="Correo" />
              <button>Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="promo-section">
    <div class="promo-inner">
      <div class="section-badge-blanco">PROMOCIONES</div>
      <div class="promo-container">
        <div class="promo-left">
          <h2 class="promo-title">Impulsa tu futuro financiero</h2>
          <p class="promo-text">
            Aprende a invertir, mejorar tu crédito y construir libertad financiera.
          </p>
          <div class="promo-grid">
            <div class="promo-card" *ngFor="let img of promoSmallImages">
              <img [src]="img.src" class="promo-img" />

              <div class="promo-overlay">
                <span class="promo-title-img">{{ img.title }}</span>
                <span class="material-icons promo-arrow">arrow_forward</span>
              </div>
            </div>
          </div>
        </div>
        <div class="promo-right">
          <div class="promo-card promo-big">
            <img [src]="promoBigImage" class="promo-img" />
            <div class="promo-overlay promo-overlay-big">
              <span class="promo-badge">Nuevo</span>
              <div class="promo-text-row">
                <div class="promo-text-group">
                  <span class="promo-title-img promo-title-big">Educación Premium</span>
                  <span class="promo-desc">
                    Aprende finanzas con expertos y logra libertad financiera.
                  </span>
                </div>
                <span class="material-icons promo-big-arrow">arrow_forward</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="indicators-wrapper" #indicatorsSection>
    <div class="indicators-inner">
      <div class="section-badge">INDICADORES</div>
      <div class="indicators-header">
        <h2 class="indicators-title">Controla tu dinero con claridad</h2>
        <p class="indicators-subtitle">
          Visualiza tus gastos, ingresos, metas y suscripciones de manera inteligente.
          Nuestro sistema te guía para tomar mejores decisiones financieras.
        </p>
      </div>
      <div class="indicators-container">
        <div class="indicator-card" *ngFor="let ind of indicators">
          <div class="indicator-info">
            <div class="indicator-title">{{ ind.title }}</div>
            <span class="indicator-badge" [ngClass]="{
                    'badge-success': ind.type === 'success',
                    'badge-danger': ind.type === 'danger'
                  }">
              {{ ind.badge }}
            </span>

            <div class="indicator-value" [ngClass]="{
                   'indicator-positive': ind.type === 'success',
                   'indicator-negative': ind.type === 'danger'
                 }">
              {{ ind.prefix }}{{ ind.animated | number:'1.0-0' }}
            </div>
          </div>

          <i class="{{ ind.icon }} indicator-icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="plans-section">
    <div class="plans-inner">
      <div class="section-badge-blanco">PLANES</div>

      <h2 class="plans-title">Encuentra el plan perfecto para ti</h2>
      <p class="plans-subtitle">Comienza a mejorar tus finanzas hoy mismo con el plan que se adapta a tus necesidades.
      </p>

      <div class="plans-container">
        <div class="plan-card" *ngFor="let plan of plans">
          <div class="plan-inner">

            <div class="cont-top">
              <div class="plan-header">
                <i class="plan-icon" [class]="plan.icon"></i>
                <span class="plan-badge">{{ plan.badge }}</span>
              </div>

              <div class="plan-price">{{ plan.price }} <a class="plan-mes">/mes</a></div>
              <p class="plan-desc">{{ plan.description }}</p>
            </div>


            <ul class="plan-features">
              <li *ngFor="let feature of plan.features">
                <i [class]="feature.available ? 'check fas fa-check' : 'cross fas fa-times'"></i>
                {{ feature.name }}
              </li>
            </ul>

            <button class="plan-button">
              Empezar
              <span class="btn-icon">
                <i class="fas fa-arrow-right"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="app-footer">
  <div class="footer-inner">

    <div class="footer-column">
      <h4>SOBRE CHEKA</h4>
      <ul>
        <li><i class="fas fa-info-circle"></i> Conócenos</li>
        <li><i class="fas fa-bullseye"></i> Nuestra misión y visión</li>
        <li><i class="fas fa-hand-holding-heart"></i> Responsabilidad Social</li>
      </ul>

      <h4>AYUDA</h4>
      <ul>
        <li><i class="fas fa-question-circle"></i> Preguntas frecuentes</li>
        <li><i class="fas fa-book"></i> Cómo usar la app</li>
        <li><i class="fas fa-chart-line"></i> Guía de ahorro y metas</li>
        <li><i class="fas fa-headset"></i> Contacta soporte</li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>LEGALES</h4>
      <ul>
        <li><i class="fas fa-file-contract"></i> Términos y condiciones</li>
        <li><i class="fas fa-shield-alt"></i> Política de privacidad</li>
        <li><i class="fas fa-lock"></i> Protección de datos</li>
        <li><i class="fas fa-universal-access"></i> Accesibilidad</li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>NOVEDADES</h4>
      <ul>
        <li><i class="fas fa-blog"></i> Blog financiero</li>
        <li><i class="fas fa-coins"></i> Tips de ahorro</li>
        <li><i class="fas fa-gift"></i> Promociones exclusivas</li>
      </ul>

      <h4>SÍGUENOS</h4>
      <div class="footer-social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>

      <h4>CONTÁCTANOS</h4>
      <div class="footer-contact-icons">
        <a href="https://wa.me/tu_numero" class="contact-icon">
          <i class="fab fa-whatsapp"></i>
          <span>Chatea con nosotros</span>
        </a>
        <a href="mailto:soporte@cheka.com" class="contact-icon">
          <i class="fas fa-envelope correo"></i>
          <span>Escríbenos</span>
        </a>
      </div>
    </div>

    <div class="footer-column">
      <h4 class="tit-app">DESCARGA NUESTRA APP</h4>
      <p>Escanea el código o descarga la app en tu celular.</p>
      <img src="/assets/cel.png" alt="Descarga la App" class="footer-app-img">
    </div>

  </div>
</footer>