@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

html {
  overflow-x: hidden;
  width: 100%;
}


body.dark-mode {
  background: #1e1e1e !important;

  .custom-sidebar {
    background: #1e1e1e !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;
  }

  .ant-layout {
    background: #1e1e1e !important;
  }

  .user-name {
    color: #dddddd !important;
  }

  .user-username {
    color: #adadad !important;
  }

  .sidebar-menu[_ngcontent-ng-c1044561173] li[_ngcontent-ng-c1044561173] i[_ngcontent-ng-c1044561173] {
    color: #89d631;
  }

  .panel-root {
    background: #1e1e1e !important;
  }

  .inner-content {
    background: #1e1e1e !important;
  }

  .card.kpi {
    background: #1e1e1e !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;
    border: 1px solid rgba(137, 214, 49, 0.15);
  }

  .kpi-title {
    color: #ffffff;
  }

  .kpi-value {
    color: #dddddd !important;
  }

  .card {
    background: #1e1e1e !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;
  }

  .custom-header {
    background: #1e1e1e !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;
    border-bottom: none !important;
  }

  .kpi-sub {

    color: #dddddd !important;
  }

  .chart-title {
    color: #dddddd !important;
  }

  .tips-header h3 {
    color: #dddddd !important;
  }

  .plan-title {
    color: #dddddd !important;
  }

  .card-head h3 {
    color: #dddddd !important;
  }

  .title {
    color: #dddddd !important;
  }

  .support-icon {
    color: #dddddd !important;
  }

  .tips-header-icon {
    color: #dddddd !important;
  }

  .support-info h3 {
    color: #dddddd !important;
  }

  .section-title {
    color: #dddddd !important;
  }

  .meta-name {
    color: #dddddd !important;
  }

  .plan-info {
    color: #dddddd !important;
  }

  .tip-item p {
    color: #dddddd !important;
  }

  .activity-list {

    scrollbar-width: thin;
    scrollbar-color: rgba(137, 214, 49, 0.4) transparent;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(137, 214, 49, 0.4);
      border-radius: 10px;
      backdrop-filter: blur(4px);
      transition: .3s;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(137, 214, 49, 0.7);
    }
  }

  .metas-list {

    scrollbar-width: thin;
    scrollbar-color: rgba(137, 214, 49, 0.4) transparent;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(137, 214, 49, 0.4);
      border-radius: 10px;
      backdrop-filter: blur(4px);
      transition: .3s;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(137, 214, 49, 0.7);
    }
  }

  .progress-bar {
    background: transparent;
    border: 2px solid rgba(137, 214, 49, 0.15);
  }

  .meta-item {
    background: #1e1e1e !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;
    border: 1px solid rgba(137, 214, 49, 0.15);
  }

  .header-metas {
    h2 {
      color: #dddddd !important;
    }
  }

  .meta-left h3 {
    color: #dddddd !important;
  }

  .desc {
    color: #dddddd !important;
  }

  .data-col .label {
    font-weight: 600;
    color: #dddddd !important;
  }

  .data-col .value {
    color: #9c9c9c !important;
  }

  .header-metas {

    h2 {
      color: #89d631 !important;
    }
  }

  .metas-container {

    scrollbar-width: thin;
    scrollbar-color: rgba(137, 214, 49, 0.4) transparent;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(137, 214, 49, 0.4);
      border-radius: 10px;
      backdrop-filter: blur(4px);
      transition: .3s;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(137, 214, 49, 0.7);
    }
  }

  .progress-box {
    background: transparent;
    border: 2px solid rgba(137, 214, 49, 0.15);
  }

  .modal-card {
    background: #1e1e1e !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;
  }

  .form {
    label {
      color: #dddddd !important;
    }

    input,
    select {
      background-color: transparent !important;
      color: #dddddd !important;
      border: 1px solid #444 !important;
    }
  }

  .modal-card h2 {
    color: #dddddd !important;
  }

  .icon-grid {
    background: #1e1e1e !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;

    h3 {
      color: #dddddd !important;
    }

    .icon-box {


      &:hover {
        background: rgba(#89d631, .16);
        border: 1px solid #89d631;
        color: #89d631;
        transform: translateY(-2px);
      }
    }
  }

  .icon-grid .icon-box {
    background: #1e1e1e !important;
    border: 1px solid #89d631;
    color: #ffffff;

  }

  .icon-grid {

    scrollbar-width: thin;
    scrollbar-color: rgba(137, 214, 49, 0.4) transparent;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(137, 214, 49, 0.4);
      border-radius: 10px;
      backdrop-filter: blur(4px);
      transition: .3s;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(137, 214, 49, 0.7);
    }
  }

  .icon-grid button {
    background-color: #89d631 !important;
    color: #ffffff !important;

  }

  .form .actions .cancel {
    background: transparent !important;
    color: #ffffff !important;
    border: 1px solid #89d631 !important;
  }

  .actions {
    color: #ffffff !important;
  }

  .meta-percent {
    color: #ffffff !important;
  }

  .support-info p {
    color: #ffffff !important;
  }

  .plan-date {
    color: #ffffff !important;
  }

  .modal-detalle {
    background: #1e1e1e !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;
  }

  .detalle-header .left .titulo-input {
    background: transparent !important;
    color: #ffffff !important;
  }

  .detalle-body .col label {
    color: #dddddd !important;
  }

  .detalle-body[_ngcontent-ng-c2625954915] .col[_ngcontent-ng-c2625954915] input[_ngcontent-ng-c2625954915],
  .detalle-body[_ngcontent-ng-c2625954915] .col[_ngcontent-ng-c2625954915] select[_ngcontent-ng-c2625954915] {
    background: transparent !important;
    color: #ffffff !important;
    border: 1px solid #d3d631 !important;
  }

  option {
    background-color: rgba(32, 32, 32, 0.9725490196) !important;
    color: #ebebebf9 !important;
  }


  .icon-color {
    color: #dddddd !important;
  }

  .detalle-body .icon-btn {
    color: #dddddd !important;
  }

  .cerrar {
    color: #dddddd !important;
  }

  .task-card {
    background: #1e1e1e !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;
    border: none !important;
  }

  .task-content .title-row h3 {
    color: #dddddd !important;
  }

  .meta-info {
    color: #dddddd !important;
  }

  .tasks-list {

    scrollbar-width: thin;
    scrollbar-color: rgba(137, 214, 49, 0.4) transparent;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(137, 214, 49, 0.4);
      border-radius: 10px;
      backdrop-filter: blur(4px);
      transition: .3s;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(137, 214, 49, 0.7);
    }
  }

  .tasks-header input {
    background: transparent !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;
    border: none !important;
  }

  select {
    background: transparent !important;
    border: none !important;
    color: #dddddd !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;
  }

  .modal-header h3 {
    color: #dddddd !important;
  }

  .form textarea {
    background: transparent !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6) !important;
    color: #dddddd !important;
    border: #505050 1px solid !important;
  }

  .form .btn-secondary {
    color: #dddddd !important;
  }

  .expand {
    background: #1f1f1f !important;
    border: #505050 1px solid !important;
  }

  .extra-title {
    color: #dddddd !important;
  }


}