$verde: #89d631;

.header-metas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;

    h2 {
        font-size: 26px;
        font-weight: 700;
        color: $verde;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 0px;
    }
}

.btn-crear {
    background: $verde;
    border: none;
    padding: 0px 18px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    height: 40px;
    font-weight: 600;

    &:hover {
        background: $verde;
    }
}

.metas-container {
    height: calc(100vh - 140px);
    overflow-y: auto;
    padding-right: 5px;
}

.grid-metas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.meta-left h3 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}


.meta-item {
    background: #fff;
    border-radius: 14px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    transition: .25s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;


    &:hover {
        transform: translateY(-4px);
    }
}

.meta-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meta-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.meta-icon {
    font-size: 26px;
    color: $verde;
}

h3 {
    font-size: 15px;
    font-weight: 700;
}

.badge {
    font-size: 11px;
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: 600;

    &.activa {
        background: rgba($verde, .2);
        color: $verde;
    }

    &.proceso {
        background: rgba(255, 160, 0, .25);
        color: #d18700;
    }

    &.cumplida {
        background: rgba(0, 170, 90, .2);
        color: #00a15a;
    }

    &.cancelada {
        background: rgba(200, 0, 0, .25);
        color: #bd0000;
    }
}

.desc {
    font-size: 13px;
    color: #666;
    min-height: 25px;
    margin-bottom: 0px;
}

.progress-box {
    width: 100%;
    height: 14px;
    background: #eef6e0;
    border-radius: 50px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #89d631;
    transition: .3s;
}

.meta-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-col {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    .label {
        font-weight: 600;
        color: #444;
    }

    .value {
        color: #555;
        margin-bottom: 3px;
    }
}

.btn-detail {
    font-size: 12px;
    padding: 8px 14px;
    border-radius: 10px;
    border: 2px solid $verde;
    background: none;
    color: $verde;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
    margin-top: 10px;

    &:hover {
        background: $verde;
        color: #fff;
    }
}